@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

.nav {
  height: 12vh;
  width: 100%;
  background-color: #111e40;
  position: relative;
  display: flex;
  justify-content: center;
}

.nav > .nav-header {
  display: inline;
}


.header {
  height: 25vh;
  padding-top: 5vh;
  background-color: #111e40;
  display: flex;
  justify-content: center;
}

.header > img {
  max-height: 10vh;
  align-self: center;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  font-size: 25px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #43547e;
}

.nav > .nav-links > a:hover, .active {
  color: white;
}

.nav > #nav-check {
  display: none;
}


@media (max-width:600px) {
  .header {
    background-color: #111e40;
    display: flex;
    justify-content: center;
  }
  
  .header > img {
    max-width: 85vw;
    align-self: center;
    /* header */
  }

  .nav{
    height: 9vh;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #111e40;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    color: white;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.footer {
  background-color: #111e40;
  padding: 20px;
  height: 10vh;
  width: 100%;
  color: white;
  display: flex;
  position: absolute;
  justify-content: center;
  margin-top: 65px;
}

.socialmedia{
  display: flex;
  justify-content: space-between;
}

.socialmedia > a { 
  color:  #43547e;
  padding-left: 20px;
  padding-right: 20px;
}
.socialmedia > a:hover { 
  color:  white;
}